body
{
    margin: 0 0 0 0;
    padding-bottom: 2em;
    font-size: 1em;
}

header
{
    color: white;
    background-color: black;
    padding: 1em 8% 1em 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-infos
{
}

#header-infos h1
{
    font-size: 2.5em;
    font-family: arial, sans-serif;
}

#header-infos p
{
    margin: 0 0;
    padding-left: 0.4em;
    font-family: Trebuchet MS, arial, sans-serif;
}

#header-prog-languages
{
    padding-top: 1em;
}

#header-prog-languages ul
{
    list-style-type: none;
}

#header-prog-languages li
{
    font-size: 1em;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    margin: 6px 0px 6px 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: #283583;
}

section
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

section h2
{
    font-size: 1.8em;
    margin-bottom: 0;
}

section h2+ul
{
    margin-top: 1em;
}

section h2+.content-title
{
    margin-top: auto;
}

.content-title
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.period
{
    text-align: right;
}

section ul
{
    margin: 0 0 0 0;
    padding-left: 0;
    list-style-position: inside;
}

.content-description
{
    padding-left: 0.4em;
}

.position-translate
{
    margin-top: -1em;
    font-style: italic;
}

#caption
{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: #535861;
}

#caption ul
{
    list-style-type: none;
    padding: 0 10% 0 10%;
}

.inline-code
{
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
    font-family: monospace;
    color: rgb(200, 0, 0);
    background-color: rgba(100, 0, 0, 0.1);
}